<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_Kermesse_v_1._1.My.MySettings.KERMESSEConnectionString"
            connectionString="Data Source=DESKTOP-24O9GHQ;Initial Catalog=KERMESSE;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>